<div id="app" class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4">
    <nav>
      <button v-on:click="update(--id)">前へ</button>
      ID:{{ vision.id }}
      <button v-on:click="update(++id)">次へ</button>
    </nav>
    <img v-bind:alt="vision.image_url" v-bind:src="vision.image_url" class="vision_image">
    <label>English Tags</label>
    <div class="input-group">
      <input class="form-control" id='english_tags' v-model="vision.vision_tags.map(function(tag){ return '#'+tag.name.replace(/\s+/g,''); }).join(' ')">
      <div class="input-group-addon" v-on:click="copy('english_tags')">copy</div>
    </div>
    <label>Japanese Tags</label>
    <div class="input-group">
      <input class="form-control" id='japanese_tags' v-model="vision.vision_tags.map(function(tag){ return '#'+tag.translated_name.replace(/\s+/g,''); }).join(' ')">
      <div class="input-group-addon" v-on:click="copy('japanese_tags')">copy</div>
    </div>
    <label>Detail</label>
    <ul>
      <li v-for="tag in vision.vision_tags">
        {{ tag.name }}
        ({{ tag.translated_name }})
        {{ Math.round(tag.confidence * 10000) / 100 }}%
      </li>
    </ul>
    <%= link_to "新規作成", :controller => "visions", :action => "index" %>
  </div>
</div>


<style>
.vision_image{
  width: 100%;
}
</style>

<script>
var id = <%= @vision.id %>;
var request = window.superagent;
var app = new Vue({
  el: '#app',
  data: {vision: {id:"",image_url:"",vision_tags:[]}},
  methods: {
    copy: function (id) {
      var elem = document.getElementById(id);
      elem.focus();
      elem.setSelectionRange(0, elem.value.length);
      document.execCommand('copy');
    }
  }
});
var update = function(image_id) {
  app.vision.url = '';
  $.ajax({
    url: "/visions/"+image_id+".json"
  }).done(function(res) {
    app.vision = res;
  });
};
update(id);
</script>
