<!DOCTYPE html>
<html>
  <head>
    <title>AzureComputerVisionOnRails</title>
    <%= csrf_meta_tags %>

    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="/main.js"></script>
  </body>
</html>
